<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <title>Обзор</title>
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="../styles/tri.css" />
</head>

<body>
  <center>
    <header id="header" class="header">
      <div class="container">
        <div class="box">
          <div align="right">
            <!-- <img src="../files/cat.png" /> -->
            <h2>Выход</h2>
          </div>
          <h1>
            <font face="comic sans ms">
              Ромашка
              <font size="-1">
                <sub>проект для мирэа</sub>
              </font>
            </font>
          </h1>
        </div>
        <div class="menu">
          <ul class="menu">
            <table border="5" width="200" height="480">
              <tr>
                <td>
                  <li>
                    <a href="/">
                      <p>Обзор</p>
                  </li>
                </td>
              </tr>
              <tr>
                <td>
                  <li>
                    <a href="scanners">
                      <p>Сканеры</p>
                    </a>
                  </li>
                </td>
              </tr>
              <tr>
                <td>
                  <li>
                    <a href="logs">
                      <p>Logs-</p>
                    </a>
                  </li>
                </td>
              </tr>

          </ul>

          </table>
        </div>
      </div>

      </div>

    </header>

  </center>
  <script src="../bootstrap/js/bootstrap.min.js"></script>

</body>

</html>